{% extends 'base.html' %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="span12">
			<h1 class="header">Developer Diary</h1>
		</div>
		<div class="span4">
			<h3><i class="icon-plus-sign"></i> Add Post</h3>
			<div
				class="fb-like"
				data-send="true"
				data-width="450"
				data-show-faces="true">
			</div>
			<form action="/add_post">
				<input type="text" name="title" placeholder="Title" />
				<br />
				<input type="text" name="author" placeholder="Author" />
				<br />
				<textarea name="body" placeholder="Post Body"></textarea>
				<br />
				<input class="btn" type="submit" value="Add Post" />
			</form>
		
			<h3><i class="icon-user"></i> Get User info</h3>
			<form action="/get_user">
				<input type="text" name="token" placeholder="Paste Access Token" />
				<br />
				<input class="btn" type="submit" value="Get Info" />
			</form>
			{% if username %}
			
				<div class="user">		
					
					<span>Username: {{username}}</span>
					<br />
					<span>Facebook UID: {{fb_uid}}</span>
					<p></p>
					<h4><span>Friends</span></h4>

					{% for friend in friendlist %}
					<span>{{friend['name']}}</span>
					<p></p>
					{% endfor %}
				</div>
			
			{% endif %}
		</div>
		<div class="span8">
			{% if posts %}
			{% for post in posts %}
				<div class="post">		
					<h3>{{post[1]}}</h3>
					<span>Author: {{post[3]}}</span>
					<br />
					<span>Created At: {{post[4]}}</span>
					<p>{{post[2]}}</p>
				</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>

</div>
{% endblock %}